/* TAG SELECTORS */

body {
  background-color: lightslategrey;
}

hr {
  border-style: dashed solid;
  width: 4%;
}

h3 {
  font-style: oblique;
}

/* CLASS SELECTORS */

.link {
  font-style: italic;
}

/* ID SELECTORS */

#heading {
  color: black;
}
