/* TAG SELECTORS */

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
}

h1 {
  color: #6eb7bb;
  font-size: 6rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento';
}

h2 {
  color: #16585c;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-style: oblique;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #4b5466;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #053335;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

/* CLASS SELECTORS */

.top-container {
  background-color: black;
  position: relative;
  padding-top: 200px;
  padding-bottom: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
}

.education-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.hoppogskopp-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.mountain-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.link {
  font-style: italic;
  color: #053335;
}

.footer-link,
p {
  font-style: italic;
  /* color: #ffffff; */
  padding: 0.3rem;
  text-decoration: none;
  line-height: 2;
}

.profile-img {
  border: solid;
}

.computer-img {
  display: block;
  margin: auto;
  width: 30%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 100px;
}

/* .top-container {
  height: 200px;
  width: 200px;
  background-color: blueviolet;
} */

/* ID SELECTORS */

#heading {
  color: white;
}

#sub-title {
  font-weight: normal;
  line-height: 2;
  /* width: 80%;
  margin: 0 0 auto; */
}

/* BORDER-CHALLENGE */

/* .container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: grey;
} */

.red-square {
  /* display: inline-block;
  position: relative;
  left: 212px; */
  position: absolute;
  left: 200px;
  top: 200px;
  background-color: red;
  height: 100px;
  width: 100px;
}

.blue-square {
  /* display: inline-block;
  position: relative;
  right: 100px; */
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: blue;
  height: 100px;
  width: 100px;
}

.yellow-square {
  /* display: inline-block;
  position: relative;
  right: 100px; */
  position: absolute;
  background-color: yellow;
  height: 100px;
  width: 100px;
}
